{{block "header" .}}
<header class="h-12 bg-slate-400">
    <div class="container mx-auto flex justify-between items-center h-full">
        <a href="/" class="text-white text-lg font-bold">GoPG</a>
        <nav>
            <ul class="flex space-x-4">
                <ul>
                    <select name="theme-select" id="theme-select">Theme
                        <option value="vs">Light</option>
                        <option value="vs-dark">Dark</option>
                    </select>
                </ul>
                <ul>
                    <button hx-post="/run" hx-target hx-trigger="click">Run</button>
                </ul>
                <ul>
                    <button>Share</button>
                </ul>
                <ul>
                    <button>Capture</button>
                </ul>
                <ul>
                    <button>Format</button>
                </ul>
                <ul>
                    <select name="template-select" id="template-select">Theme
                        <option value="hello_world">Hello world</option>
                        <option value="http">HTTP</option>
                        <option value="tcp">TCP</option>
                    </select>
                </ul>
            </ul>
        </nav>
    </div>
</header>
{{ end }}